#uefi.page
    padding-top: 24px
    padding-bottom: 24px
    #logo
        width: 300px
        padding: 50px
    .uefi
        color: $themeRedNormal
        text-align: left
    .text-block
        backdrop-filter: $backdropBlurHigh
        background-color: rgba($themeRedNormal, 0.4)
        padding: #{$cornerClipSizeLarge}px
        clip-path: polygon(0px #{$cornerClipSizeLarge}px, #{$cornerClipSizeLarge}px 0px, 100% 0px, 100% calc(100% - #{$cornerClipSizeLarge}px), calc(100% - #{$cornerClipSizeLarge}px) 100%, 0px 100%)
        margin: 20px
        h1
            margin-top: 6px
        i
            color: black
    #setup-button
        text-align: center
        margin: 20px 20px 20px 10px
        padding: 30px 50px
        font-size: 30px
        clip-path: polygon(0px #{$cornerClipSizeLarge}px, #{$cornerClipSizeLarge}px 0px, 100% 0px, 100% calc(100% - #{$cornerClipSizeLarge}px), calc(100% - #{$cornerClipSizeLarge}px) 100%, 0px 100%)
        backdrop-filter: $backdropBlurHigh
        background-color: rgba($themeRedNormal, 0.4)
        cursor: pointer
        transform: rotate(-90deg) translateX(-100%)
        transform-origin: top left
        &:hover
            background-color: rgba($themeRedDarkest, 0.75)