* 
    user-select: none
html, body
    margin: 0px
    padding: 0px
    background-color: black
    color: white
    overflow-x: hidden
    width: 100vw
    font-family: 'Montserrat'
::-webkit-scrollbar 
    display: none
    width: 0px