@page "/"

<PageTitle>Setup</PageTitle>

<div class="row">
    <div class="col">
        <img id="logo" src="/favicon.svg" onclick="setupAssembly()" />
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Arasaki</h1>
    </div>
</div>