@page "/uefi/about"

<PageTitle>Arasaki UEFI - About</PageTitle>

<div id="about" class="row page">
    <div class="col-12 col-md">
        <div id="aboutdeschistory" class="row">
            <div class="col">
                 <div class="row text-block">
                    <div class="col">
                        <img id="logo" src="/favicon.svg" alt="Logo" />
                        <h1>About The Arasaki Project And Its History</h1>
                        <hr />
                        <p>
                            The Arasaki Project started out at the beginning of 2020 in a different form, then called 'The Star Aethereum Project', it was mainly a learning project for
                            Stryxus with the goal of becoming familiar with <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank" rel="noreferrer">ASP.NET</a>, 
                            the then new <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank" rel="noreferrer">Blazor</a> and
                            <a href="https://dotnet.microsoft.com/en-us/" target="_blank" rel="noreferrer">.NET 5 (Alpha)</a>, 
                            <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer">Typescript</a>, <a href="https://sass-lang.com/" target="_blank" rel="noreferrer">SASS/SCSS</a>, 
                            <a href="https://www.microsoft.com/en-gb/security/business/identity-access-management/microsoft-identity-management-platform" target="_blank" rel="noreferrer">Microsoft Identity Platform</a> 
                            and the general modern web ecosystem.
                        </p>
                        <p>
                            After a lot of hard work learning and creating Star Aethereum, the project was becoming exponentially difficult to maintain and add too because, it had no plan really. Even with the difficulties 
                            the project quickly became a CSS marvel, with the ability to view the Star Citizen Roadmap Release View on a modern interface compared to what there was at the time. Sadly soon after 
                            this, came the projects fatigue, struggling to fing the motivation to continue although this wouldnt have been a reason to stop its development entirely. However it did in fact come to a stop
                            after a huge shockwave of drama across Star Citizen PVP players due to Stryxus exposing several of their actions due to vile behaviour.
                        </p>
                        <p>
                            After several months of Star Aethereum being in hiatus, Stryxus came back to the project, updated it all and renamed it to 'Star Aether' but, even then it was struggling because of its complexity 
                            and backwards design. Even though profiles got implemented with the Microsoft Identity Platform and the Roadmap Release View queries were optimised by several multitudes, Star Aether 
                            only lastest the last few months of 2021.
                        </p>
                        <p>
                            This is where the Arasaki Project was born, from the 1st January 2022, Stryxus simplified the project and came up with a clearer plan for it. Instead of making the project backwards, it is now 
                            made forwards by doing the fundemental stuff first and the nice stuff later like animations and effects.
                        </p>
                        <p>
                            The Arasaki Project was inspired by the <a href="https://cyberpunk.fandom.com/wiki/Arasaka" target="_blank" rel="noreferrer">Arasaka Corporation</a> and motivated by the increasingly 
                            saturated yet messy Star Citizen utility field. The project aims to be the one all beats all where all the tools the community needs are provided in a single place with a simple interface 
                            and immersive experience from anywhere and anywhen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="stryxus" class="row">
            <div class="col">
                <div class="row text-block">
                    <div id="avatar-container" class="col-12 col-md">
                        <img src="/img/server/about/stryxus.webp" alt="stryxus" />
                    </div>
                    <div class="col col-md-8">
                        <h1>About The Author</h1>
                        <hr />
                        <p>
                            Connor 'Stryxus' Shearer is the creator and current lead of the entirety of the Arasaki project. A programmer, a lover of games, 
                            enthusiast for everything science, technology and space as well as an avid supporter for online privacy.
                        </p>
                        <p>
                            Learning programming from the age of 14 in mid 2013, on a notebook with an Intel Atom CPU and befriending, learning from and even teaching
                            many of todays professionals have carried Stryxus to success when it comes to todays technological problems and innovation.
                        </p>
                        <p>
                            Although unfit for employment due to sevear <a href="https://en.wikipedia.org/wiki/Hemiparesis" target="_blank" rel="noreferrer">hemiparesis</a> on the left hemisphere, limiting motor, memory
                            and general brain processing power abilities, Stryxus has strived to make the most of it by giving everyone the best experiences available - like Arasaki!
                        </p>
                        <ul>
                            <li>
                                <a href="https://robertsspaceindustries.com/citizens/Stryxus" target="_blank" rel="noreferrer">
                                    <i class="fa-solid fa-rocket"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Stryxus" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                                <li>
                                <a href="https://www.youtube.com/channel/UCnLgNxhTuEsl6M_d8CKQS8g" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/stryxus_/" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://steamcommunity.com/id/Stryxus/" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-steam"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Stryxus" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.reddit.com/user/Stryxuss" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-reddit"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md">
        <div class="row">
            <div class="col text-block">
                <h1>Want To Contribute To The Project?</h1>
                <hr />
                <p>
                    Want to contribute to the Arasaki Project? Dont worry, you dont even need to know programming! You just need to know the JSON format at the very least but, its can easily be learned by simply 
                    looking at the syntax. All contributions are greatly appreciated and are added to a list viewable on the app and UEFI!
                </p>
                <p>
                    In order to contribute to the Arasaki Project, you will need to look at the README's of the projects here! 
                    <a rel="noreferrer" target="_blank" href="https://github.com/Arasaki-Inc">https://github.com/Arasaki-Inc</a>
                </p>
                <p>
                    All respoitories are and always will be under the <a rel="noreferrer" target="_blank" href="https://mit-license.org/">MIT License</a>.
                </p>
            </div>
        </div>
        <div id="developedon" class="row">
            <div class="col text-block">
                <div class="row">
                    <div class="col">
                        <h1>Developed On - Quality Assurances</h1>
                        <hr />
                    </div>
                </div>
                <div id="desktop" class="row">
                    <div class="col">
                        <div id="desktop-container">
                            <img src="/img/server/about/desktop.webp" alt="stryxus" />
                            <small>Case of Stryxus' desktop</small>
                        </div>
                        <h2>Custom Desktop PC</h2>
                        <p>
                            Although there isnt much to say about a Desktop PC in this regard, there are still pointers. The UEFI and app have been developed on Windows 11 Insider Dev Channel using the latest .NET,
                            Visual Studio 2022 Preview, Visual Studio Code, the full Adobe CC Suite, a custom written bundler in NodeJS and of course, Github.
                        </p>
                        <p>
                            Arasaki is tested on a 4k monitor as well as Chromium's in-built resolution scalar in device emulation for smaller resolutions. The entire site is tested with Microsoft Edge Canary 
                            with experimental features enabled, its tracking prevention turned off and with uBlock Origin to verify your privacy as well as get ahead on new features in the browser space.
                        </p>
                    </div>
                </div>
                <div id="phone" class="row">
                    <div class="col">
                        <div id="phone-container">
                            <a rel="noreferrer" target="_blank" href="https://www.oneplus.com/9-pro"><img src="/img/server/about/phone.webp" alt="stryxus" /></a>
                            <small>Photo of Stryxus' phone</small>
                        </div>
                        <h2>OnePlus 9 Pro</h2>
                        <p>
                            Arasaki is developed on the OnePlus 9 Pro via Microsoft Edge and Adblock Plus, at all times at 1,300 nits, 120hz, the highest touch sampling for the best touch screen experience and on the
                            widest supported gamut (About 5% > DCI-P3 D65). Being one of the best colour calibrated OLED phones on the market, it provides a ways and means of carefully colour calibrating each intricacy 
                            of this UEFI and the Arasaki app it self.
                        </p>
                        <p>
                            The OnePlus 9 Pro is also one of the most optimised phones out there for battery life (OxygenOS 12), especially when debloated of log kits, propietary software and packages alike. 
                            This enables the ability to test the UEFI's and app's energy effeciency so every phone can get the most out of it without reaping your phone of all its energy. Stryxus personally
                            recommends the OnePlus line of phones!
                        </p>
                        <div class="row reviews">
                            <div class="col-auto">
                                <a rel="noreferrer" target="_blank" href="https://www.youtube.com/watch?v=ulZj7N_YkQI">LTT Jake's Review</a>
                            </div>
                            <div class="col-auto">
                                <a rel="noreferrer" target="_blank" href="https://www.youtube.com/watch?v=Yo0DbixMHus">iJustine's 1 Week Review</a> 
                            </div>
                            <div class="col-auto">
                                <a rel="noreferrer" target="_blank" href="https://www.youtube.com/watch?v=8eNNJESKjrE">Marques Brownlee's Review</a>
                            </div>
                            <div class="col-auto">
                                <a rel="noreferrer" target="_blank" href="https://www.androidauthority.com/oneplus-9-pro-review-1209699/">Android Authority's Review</a>
                            </div>
                            <div class="col-auto">
                                <a rel="noreferrer" target="_blank" href="https://www.displaymate.com/Gamut_62N.html">DisplayMate's Display Review</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code 
{

}
