<div class="col-auto version-display" @onpointerover="@(() => OnHover(true))" @onpointerout="@(() => OnHover(false))">
    @if (IsHovering)
    {
        <small>@(Runtime.RuntimeBuildDate)</small>
    }
    else
    {
        <small>v@(Runtime.Version)</small>
    }
</div>

@code {

    private bool IsHovering = false;

    private void OnHover(bool isHovering)
    {
        if (IsHovering != isHovering)
        {
            IsHovering = isHovering;
            StateHasChanged();
        }
    }
}
