<div id="footer" class="container-fluid">
    <div class="row">
        <VersionDisplay />
        <div class="col-auto">
            <p>-</p>
        </div>
        <div class="col">
            <p><i class="fa-solid fa-microchip"></i> Eventually server stats as well as user stats will show here as well as the Github build status</p>
        </div>
    </div>
</div>

@code {

}
