@page "/uefi/about"

<PageTitle>Arasaki UEFI - About</PageTitle>

<div id="about" class="row page">
    <div class="col-12 col-md">
        <div id="aboutdeschistory" class="row text-block">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img id="logo" src="/favicon.svg" alt="Logo" />
                    </div>
                </div>
                 <div class="row">
                    <div class="col">
                        <h1>About The Arasaki Project And Its History</h1>
                        <hr />
                        <p>
                            The Arasaki Project started out at the beginning of 2020 in a different form, then called 'The Star Aethereum Project', it was mainly a learning project for
                            Stryxus with the goal of becoming familiar with <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank" rel="noreferrer">ASP.NET</a>, 
                            the then new <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank" rel="noreferrer">Blazor</a> and
                            <a href="https://dotnet.microsoft.com/en-us/" target="_blank" rel="noreferrer">.NET 5 (Alpha)</a>, 
                            <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer">Typescript</a>, <a href="https://sass-lang.com/" target="_blank" rel="noreferrer">SASS/SCSS</a>, 
                            <a href="https://www.microsoft.com/en-gb/security/business/identity-access-management/microsoft-identity-management-platform" target="_blank" rel="noreferrer">Microsoft Identity Platform</a> 
                            and the general modern web ecosystem.
                        </p>
                        <p>
                            After a lot of hard work learning and creating Star Aethereum, the project was becoming exponentially difficult to maintain and add too because, it had no plan really. The project quickly became 
                            a CSS marvel while also breaking browser renderes with the ability to view the Star Citizen Roadmap Release View in modern interface compared to what there was at the time, sadly soon after 
                            this, came the projects fatigue, struggling to fing the motivation to continue it although this wouldnt have been a reason to stop its development entirely. This did in fact come to a stop
                            after a huge shock-wave of drama causes across Star Citizen PVP players due to Stryxus exposing several of their actions due to vile behaviour.
                        </p>
                        <p>
                            After several months of Star Aethereum being in hiatus, Stryxus came back to the project, updated it all and renamed it to 'Star Aether' but, even then it was struggling because of its complexity 
                            and backwards design with no plan. Even though profiles got implemented with the Microsoft Identity Platform and the Roadmap Release View queries were optimised by several multitudes, Star Aether 
                            only lastest the last few months of 2021.
                        </p>
                        <p>
                            This is where the Arasaki Project was born, from the 1st January 2022, Stryxus simplified the project and came up with a clearer plan for it. Instead of making the project backwards, it is now 
                            made forwards by doing the fundemental stuff first and the nice stuff later like animations and effects.
                        </p>
                        <p>
                            The Arasaki Project was inspired by the <a href="https://cyberpunk.fandom.com/wiki/Arasaka" target="_blank" rel="noreferrer">Arasaka Corporation</a> and motivated by the increasingly 
                            saturated yet messy Star Citizen utility field. The project aims to be the one all beats all where all the tools the community needs are provided in a single place with a simple interface 
                            and immersive experience from anywhere and anywhen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md">
        <div id="stryxus" class="row align-items-md-end">
            <div class="col">
                <div class="row text-block">
                    <div class="col">
                        <h1>Want To Contribute To The Project?</h1>
                        <hr />
                        <p>
                            Want to contribute to the Arasaki Project? Dont worry, you dont even need to know programming! You just need to know the JSON format at the very least but, its can easily be learned by simply 
                            looking at the syntax. All contributions are greatly appreciated and are added to a list viewable on the app and UEFI!
                        </p>
                        <p>
                            In order to contribute to the Arasaki Project, you will need to look at the README's of the projects here! 
                            <a href="https://github.com/Arasaki-Inc" target="_blank" rel="noreferrer">https://github.com/Arasaki-Inc</a>
                        </p>
                        <p>
                            All respoitories are and always will be under the <a href="https://mit-license.org/" target="_blank" rel="noreferrer">MIT License</a>.
                        </p>
                    </div>
                </div>
                <div class="row text-block">
                    <div id="avatar-container" class="col-12 col-md">
                        <img src="/img/server/stryxus.webp" alt="stryxus" />
                    </div>
                    <div class="col col-md-8">
                        <h1>About The Author</h1>
                        <hr />
                        <p>
                            Connor 'Stryxus' Shearer is the creator and current lead of the entirety of the Arasaki project. A programmer, a lover of games, 
                            enthusiast for everything science, technology and space as well as an avid supporter for online privacy.
                        </p>
                        <p>
                            Learning programming from the age of 14 in mid 2013, on a notebook with an Intel Atom CPU and befriending, learning from and even teaching
                            many of todays professionals have carried Stryxus to success when it comes to todays technological problems and innovation.
                        </p>
                        <p>
                            Although unfit for employment due to sevear <a href="https://en.wikipedia.org/wiki/Hemiparesis" target="_blank" rel="noreferrer">hemiparesis</a> on the left hemisphere, limiting motor, memory
                            and general brain processing power abilities, Stryxus has strived to make the most of it by giving everyone the best experiences available - like Arasaki!
                        </p>
                        <ul>
                            <li>
                                <a href="https://robertsspaceindustries.com/citizens/Stryxus" target="_blank" rel="noreferrer">
                                    <i class="fa-solid fa-rocket"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Stryxus" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                             <li>
                                <a href="https://www.youtube.com/channel/UCnLgNxhTuEsl6M_d8CKQS8g" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/stryxus_/" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://steamcommunity.com/id/Stryxus/" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-steam"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Stryxus" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.reddit.com/user/Stryxuss" target="_blank" rel="noreferrer">
                                    <i class="fa-brands fa-reddit"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
