@page "/uefi/perms"

<PageTitle>Arasaki UEFI - Permissions</PageTitle>

<div id="permissions" class="row page">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <p>The permissions page is used to customise your experience by giving Arasaki permissions from your browser which add extra functionality.</p>
                <p>This page will constantly change with permissions constantly being added and removed.</p>
            </div>
        </div>
    </div>
</div>

@code {

}
