@page "/uefi/settings"

<PageTitle>Arasaki UEFI - Settings</PageTitle>

<div id="settings" class="row page">
    <div class="col">
        <img id="logo" src="/favicon.svg" alt="Logo" />
    </div>
</div>

@code {

}
