@page "/uefi/storage"

<PageTitle>Arasaki UEFI - Storage</PageTitle>

<div id="storage" class="row page">
    <div class="col">
        <img id="logo" src="/favicon.svg" alt="Logo" />
    </div>
</div>

@code {

}
