@page "/"
@page "/uefi"

<PageTitle>Arasaki UEFI</PageTitle>

<div id="uefi" class="row page">
    <div class="col-1"></div>
    <div class="col">
        <div class="row align-items-center">
            <div class="col-auto">
                <h1 class="title">A</h1>
                <h1 class="title">R</h1>
                <h1 class="title">A</h1>
                <h1 class="title">S</h1>
                <h1 class="title">A</h1>
                <h1 class="title">K</h1>
                <h1 class="title">I</h1>
            </div>
            <div class="col-auto">
                <img id="logo" src="/favicon.svg" alt="Logo" />
            </div>
            <div class="col-auto">
                <h1 class="title">U</h1>
                <h1 class="title">E</h1>
                <h1 class="title">F</h1>
                <h1 class="title">I</h1>
            </div>
            <div class="col-auto">
                <h1 class="uefi">nified</h1>
                <h1 class="uefi">xtensible</h1>
                <h1 class="uefi">irmware</h1>
                <h1 class="uefi">nterface</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h1>Welcome To The Arasaki UEFI</h1>
                <hr />
                <p>
                    The Arasaki UEFI is a ways and means of setting up your app experience as well as changing things at any other time,
                    or you may simply be having issues with the app and its in need of a refresh. Dont be scared, this UEFI is as straight
                    forward as possible and it is virtually impossible for you to do something bad with it.
                </p>
                <p>
                    Every time the app fails to load, there is an update available or something else which needs attention outside of the app,
                    you will be brought here to resolve anything which arises. If there are any other issues, suggestions, you want to
                    contribute to the project it self or simply just want to chat, all methods are listed in the About panel!
                </p>
                <hr />
                <h2>What is the Arasaki App?</h2>
                <hr />
                <p>
                    Home to the cutting edge corner of the verse, where each and every citizen, pirate, syndicate leader and alike can learn a little more.
                </p>
                <p>
                    The Arasaki App is a tool for Star Citizen to help you detrmine the best armour for your needs, the most suitable sustainance
                    for that big mission, your next luxury yacht but, thats not all. Arasaki contains a database of the Verse as it is, cataloging
                    every planetary/celestial body, space station and more right at your fingertips.
                </p>
                <hr />
                <p>
                    The setup process will only take at most 2 minutes, it is highly recommended that you look at the options provided through it
                    ESPECIALLY on devices which use a battery and/or limited mobile data/broadband bandwidth!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button id="setupButton" onclick="setupAssembly()">Start First Time Setup</button>
            </div>
        </div>
    </div>
</div>